In [ ]:
lst1 = ["scorpion" , "fish","octopus","cat","shark","whale","starfish"]
new_lst = []
for x in lst1:
    if x!= "octopus":
        new_lst.append(x)
print(new_lst)

In [ ]:
a = 0
b = 1
num = int(input("enter the numbers:"))
if num==1:
    print(a)
else:
    print(a)
    print(b)
    for i in range(1,num+1):
        c = a+b
        a = b
        b = c
        print(c)

In [ ]:
num = int(input("enter the number:"))
sum = 0
temp = num
while temp>0:
    digit = temp%10
    cube = digit**3
    sum = sum+cube
    temp//=10
    if sum==num:
        print("this is a armstrong number:")
        break
else:
    print("this is not a armstrong number:")

In [7]:
words = "programming"
vowels = ["a","i","o","u","e"]
count = 0
for character in vowels:
    for letter in words:
        if character==letter:
            count+=1
print(count)

3

In [8]:
string = ["a","b","c","d","e","f","g","h"]
string[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [16]:
lst1 = [1,2,3,4,5,6,7,8,9,10]
lst12 = [1,2,3,45,23,43,12,21,56,43,2,1,2,21]

In [20]:
def remove_duplicates(a):
    return list(dict.fromkeys(a))

In [21]:
remove_duplicates(lst12)

[1, 2, 3, 45, 23, 43, 12, 21, 56]

In [22]:
a = int(input("enter the number a:"))
b = int(input("enter the number b:"))
if a%b!=0:
    rem = a%b
    b = rem
    hcf = b
    print(hcf)

enter the number a:2
enter the number b:4
2

In [24]:
import pandas as pd

In [28]:
data = pd.DataFrame({"Animal":["Tiger" ,"Tiger", "chitah" , "lion" , "Tortise"] , "Speed": [80,80 ,150 , 80 , 10 ]})

In [29]:
data

    Animal  Speed
0    Tiger     80
1    Tiger     80
2   chitah    150
3     lion     80
4  Tortise     10

In [36]:
data = data.groupby(["Animal"])

In [37]:
data = data["Speed"].mean()

In [38]:
data

Animal
Tiger       80.0
Tortise     10.0
chitah     150.0
lion        80.0
Name: Speed, dtype: float64

In [44]:
result = [x for x in range(1,100,2)]

In [45]:
result

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [53]:
add = lambda x, y : x+y

In [55]:
add(2,3)

5

In [56]:
mult = lambda x , y :x*y

In [57]:
mult(4,2)

8

In [58]:
sub = lambda x,y : x-y
sub(45,27)

18

In [59]:
div = lambda x,y:x/y
div(45,2)

22.5

In [60]:
students = pd.DataFrame({"Name": ["Ram","Shyam","ghanshyam"] , "Age":[5,3,6]})

In [61]:
students

        Name  Age
0        Ram    5
1      Shyam    3
2  ghanshyam    6

In [72]:
tuple1 = ("tiger","lion","cheetah","fox","cat","Dog","wolf","bull")
list1 = []
for x in tuple1:
    if x!= "cat":
        list1.append(x)
print(list1)

['tiger', 'lion', 'cheetah', 'fox', 'Dog', 'wolf', 'bull']

In [76]:
tuple1 = ("tiger","lion","cheetah","fox","cat","Dog","wolf","bull")
list1 = list(tuple1)
list1.append("cow")
print(list1)

['tiger', 'lion', 'cheetah', 'fox', 'cat', 'Dog', 'wolf', 'bull', 'cow']

In [77]:
for i in range(5):
    for j in range(5):
        print("*" , end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [79]:
for i in range(5):
    for j in range(5):
        if (i==0 or i ==4 or j == 0 or j ==4):
            print("*" , end = " ")
        else:
            print(" " , end = " ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

In [84]:
for i in range(4):
    for j in range(4):
        if (i==0 or i ==3 or j ==0 or j ==3):
            print("*" , end = " ")
        else:
            print(" " , end = " ")
    print()

* * * *
*     *
*     *
* * * *

In [85]:
for i in range(5):
    for j in range(5-i):
        print("*" , end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [88]:
for i in range(5):
    for j in range(i+1):
        print("*" , end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [91]:
for i in range(6):
    for j in range(6-i):
        if (i==0 or i==5 or j ==0 or j == 6-i-1):
            print("*" , end = " ")
        else:
            print(" " , end = " ")
    print()

* * * * * *
*       *
*     *
*   *
* *
*

In [97]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [98]:
for i in range(6):
    for j in range(6-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [99]:
for i in range(5):
    for j in range(5-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()
    
    
for i in range(5):
    for j in range(i):
        print(" " , end = "")
    for k in range(5-i):
        print("*" , end = " ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [100]:
for i in range(6):
    for j in range(6-i-1):
        print(" " , end = "")
    for k in range(i+1):
        print("*" , end = " ")
    print()

    
    
for i in range(6):
    for j in range(i):
        print(" " , end = "")
    for k in range(6-i):
        print("*" , end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [101]:
class sample:
    x = 49
    y = 56
s = sample()
print(s.x)
print(s.y)
print(s.x+s.y)

49
56
105

In [104]:
class students:
    marks1 , marks2 , marks3 = 67,45,87
    def process(self):
        sum1 = self.marks1+self.marks2+self.marks3
        avg = sum1/3
        print("sum1_of_marks:" , sum1)
        print("avg_of_marks:",avg)

In [105]:
s = students()
s.process()

sum1_of_marks: 199
avg_of_marks: 66.33333333333333

In [106]:
class Students:
    english_marks = int(input("enter the english_marks:"))
    hindi_marks = int(input("enter the hindi_marks:"))
    math_marks = int(input("enter the math_marks:"))
    science_marks = int(input("enter the science_marks:"))
    def process(self):
        sum_1 = self.english_marks+self.hindi_marks+self.math_marks+self.science_marks
        avg_1 = sum_1/4
        print("sum_1_of_marks:",sum_1)
        print("avg_of_marks:",avg_1)
s = students()
s.process()

enter the english_marks:56
enter the hindi_marks:43
enter the math_marks:89
enter the science_marks:76
sum1_of_marks: 199
avg_of_marks: 66.33333333333333

In [107]:
class subject_marks:
    english = int(input("enter the marks of english:"))
    math = int(input("enter the marks of math:"))
    science = int(input("enter the marks of science:"))
    hindi = int(input("enter the marks of hindi:"))
    social_science = int(input("enter the marks of social science:"))
    def p(self,evs):
        aggregation = self.english+self.math+self.science+self.hindi+self.social_science+evs
        average = aggregation/5
        print("aggregation_of_all subjects:",aggregation)
        print("averages_of_all_subjects:",average)
s = subject_marks()
evs = 74
s.p(evs)
print(s.english)

enter the marks of english:65
enter the marks of math:87
enter the marks of science:83
enter the marks of hindi:69
enter the marks of social science:72
aggregation_of_all subjects: 450
averages_of_all_subjects: 90.0
65

In [108]:
class parents:
    def func1(self):
        print("this function is in parent class:")
class child (parents):
    def func2(self):
        print("this function is in child class:")
        
object = child()
object.func2()
object.func1()

this function is in child class:
this function is in parent class:

In [109]:
class animal:
    def func1(self):
        print("this function is in parents class:")
class fox(animal):
    def func2(self):
        print("this function is in child class:")
        
object = fox()
object.func1()
object.func2()

this function is in parents class:
this function is in child class:

In [111]:
num = int(input("enter the number:"))
print("num:",num)
a = num%10
num = num//10
b = num%10
num = num//10
c = num%10
d = num//10
rev = a*1000+b*100+c*10+d
print("reverse_numbers:" , rev)
if num==rev:
    print("this is a True")
else:
    print("false")

enter the number:1234
num: 1234
reverse_numbers: 4321
false